
*{margin: 0;padding: 0;}


/*板心*/
.w{
	margin: 0 auto;
	width: 1210px;
}

/*默认字体*/
body{
	background-color: #fff;
	font: 12px/18px "微软雅黑","宋体";
	color: #666;
}
i,s{font-style: normal;text-decoration: none;}
ul{list-style: none;}
.fl{float: left;}
.fr{float: right;}
a{text-decoration: none;color: #666}
a:hover{color: #e01222;}
.pr{position: relative;}
.col-red{color: #C81623 !important;}
.col-fff{color: #fff !important;}
.oh{overflow: hidden;}

.top-bar{
	height: 30px;
	background-color: #f1f1f1;
}

.top-bar .location{
	line-height: 30px;
}

.top-bar i{
	position: relative;
	top: 2px;
	/*background-color: skyblue;*/
	display: inline-block;

	width: 14px;
	height: 8px;
	overflow: hidden;

}

.top-bar s{
	position: absolute;
	top: -8px;
	/*background-color: red;*/	
	display: inline-block;
	width: 14px;
	height: 16px;
	line-height: 16px;

}

.top-bar .nav li{
	float: left;
	line-height: 30px;

}

.top-bar .nav li.line{
	width: 1px;
	height: 16px;
	background-color: #ccc;
	margin: 7px 8px 0 8px;
}

/*免费注册*/
.top-bar .nav li.reg a{
	color: #e01222;
	margin-left: 10px;
}

.top-bar .nav .phone{
	width: 15px;
	height: 20px;
	position: relative;
	top: 5px;
	background: url(../images/sprite.png) no-repeat 0 0;
}

.top-bar a:hover .phone{
	background-position: 0 -25px;
}

.ad{
	background-color: rgb(130,45,187);
}

.ad a{
	height: 80px;
	display: block;
	background: url(../images/topbanner.jpg);
}
.ad .close{
	width: 19px;
	height: 19px;
	background: url(../images/close.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	right: 0;
}

.header{
	position: relative;
}

.header h1.logo{
	width: 270px;
	height: 60px;
	background: url(../images/logo.png) no-repeat 0 25px;
	/*使用首行缩进来隐藏文字标题*/
	/*在搜索引擎优化的基础上，保留h标签里面的文字内容的同时，来美化标签*/
	text-indent: -999em;
	padding-top: 25px;
	position: relative;
}

.header h1 img{
	position: absolute;
	width: 140px;
	height: 60px;
	right: -30px;
	top: 25px;
}

.search{
	padding-top: 25px;
	padding-left: 50px;
}
.search input{
	outline: none;	
	height: 34px;
	width: 445px;
	border: 1px	solid #B61D1D;
	display: block;
	float: left;
	padding-left: 5px;
}

.search button{
	outline: none;	
	height: 36px;
	width: 80px;
	background-color: #B61D1D;	
	border: 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 36px;	
	display: block;
	float: left;
}


.header .keywords{
	float: left;
	width: 532px;
	margin-left: 50px;
}

.header .keywords a{
	margin-right: 10px;
}

.header .shoppingcar{
	width: 138px;
	height: 33px;
	border: 1px solid #dfdfdf;
	position: absolute;
	right: 50px;
	top: 25px;
	line-height: 33px;
}

.header .shoppingcar i{
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat 0 -57px;
	position: relative;
	top: 2px;
	margin-left: 20px;
	margin-right: 4px;
}

.header .shoppingcar s{
	background-color: #C81623;
	width: 14px;
	height: 14px;
	position: absolute;
	top: -2px;
	right: 16px;
	line-height: 14px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
	border-bottom-left-radius: 0;
}
.header .nav{
	padding-top: 10px;
}

.header .nav .fenlei a{
	display: block;
	width: 210px;
	height: 44px;
	background-color: #B1191A;
	color: #fff;
	font:400 15px/44px "microsoft yahei";
	text-align: center;
}

.header .nav .navitems li{
	float: left;
	position: relative;
}

.header .nav .navitems a{
	font: 15px/44px "微软雅黑";
	padding: 0 20px;
}

.header .nav .navitems li i.new{
	width: 16px;
	height: 17px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/new.jpg);
}

.content{
	height: 603px;
	background: url(../images/banner.jpg) no-repeat top center;
}
.content .list{
	width: 210px;
	height: 465px;
	background-color: #C81623;
}

.content .list li{
	height: 30px;
	border-bottom: 1px solid #B1191A;
	padding: 0 10px;
	line-height: 30px;
}

.content .main_image{
	padding: 11px 0 0 10px;
	position: relative;
}

.content .prev_image,
.content .next_image{
	width: 28px;
	height: 62px;
	background-color: rgba(0,0,0,.2);
	font: 500 18px/62px "宋体";
	position: absolute;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	color: #fff;
}
.content .next_image{
	right: 0;
}
.content .prev_image{
	left: 10px;
}
.content .page_contrl{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -66px;
}
.content .page_contrl li{
	float: left;
	margin: 0 2px;
	width: 18px;
	height: 18px;
	background-color: #3E3E3E;
	color: #fff;
	text-align: center;
	line-height: 18px;
	border-radius: 50%;
}

.content .page_contrl li.current{
	background-color: #C81623;
}

.content .content_right{
	height: 452px;
	width: 248px;
	border: 1px solid #e4e4e4;
	margin-top: 11px;
	overflow:hidden;
	}

.content_right .news{
	height: 200px;
	border-bottom: 1px dashed #e4e4e4;
}

.content_right .dt{
	line-height: 43px;
	height: 43px;
	border-bottom: 1px dotted #e8e8e7;
	padding: 0 20px;
}

.content_right  h3{
	font: 14px/43px "microsoft yahei";
}
.content_right .news .dd ul{
	padding: 8px 0 0 15px;
}

.content_right .news .dd li{
	line-height: 28px;
}
.news .dd span{
	font-weight: 800;
	margin-right: 4px;
}

.service .dd ul{
	width: 248px;
	height: 210px;
}
.service .dd li{
	width: 61px;
	height: 69px;
	float: left;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.service .dd li.right{
	width: 62px;
	border-right: 0;
}
.service a span{
	display: block;
	width: 61px;
	text-align: center;
	padding-top: 4px;
}
.service li i{
	margin: 14px 0 0 18px;
	display: block;
	width: 25px;
	height: 25px;
	background: url(../images/icon_lifeserv.png) no-repeat 0 0;
}

.dkhs{
	height: 54px;
	padding: 20px 0;
	background-color: #f5f5f5;
	text-align: center;
}

.dkhs img{
	margin: 0 41px;
}

.footer{
	height: 500px;
}
.footer .help{
	padding: 20px 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
.footer .help .help_list{
	float: left;
}

.footer .help h3{
	margin-bottom: 5px;
}

.footer .help li{
	width: 198px;
	line-height: 22px;
}

.footer .help .map{
	width: 203px;
	height: 169px;
	float: right;
	background: url(../images/china.png) no-repeat 0 -131px;
}

.footer .help .map h5{
	font-size: 16px;
	line-height: 28px;
	padding-top: 10px;
	text-align: center;
}
.footer .help .map p{
	padding-top: 10px;
	text-indent: 2em;
}
.footer .help .map p.right{
	text-align: right;
}

.footer .link{
	text-align: center;
}

.footer .link p{
	margin-bottom: 10px;
}
.footer .link .link_list span{
	margin: 0 10px;
}

